@tailwind base;
@tailwind components;
@tailwind utilities;

#back-to-top {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  html:target #back-to-top {
    opacity: 1;
  }
  
  html:target {
    scroll-behavior: smooth;
  }
  